---
import { Image } from 'astro:assets';
import Logo from '../images/logo.png'
---
<div class="flex items-center">
<Image src={Logo} alt="Logo" class="w-20" />
<h1 class="dark:text-white text-gray-950 text-lg font-bold font-sans hidden lg:flex tracking-normal">CODE STREET HIVE</h1>
</div>